.areaChartBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chart {
    width: 100%;
    height: 300px;
  }

.leet{

font-size: 24px;
margin-bottom: 16px;

}


}



